<div style=justify-content: center">
  <h1>Game Results Page</h1>
  <br>
  <p id="displayedScore">Score: <%= @facade.score %></p>
  <br> 
  <%= @facade.categories %>
  <br> 
  <%= @facade.results_1 %>
  <br>        
  <%= @facade.results_2 %>
  <br>
  <%= @facade.results_3 %>
  <br>
  <button id="saveGameBtn">Save Game</button>
  <br>
  <button id="shareGameBtn">Share Game</button>
</div>
