<h1>Login</h1>

<!-- Login Form -->
<%= form_with url: login_path, method: :post do |form| %>
  <%= form.label :email, "Email:" %>
  <%= form.text_field :email %>
  <%= form.label :password, "Password:" %>
  <%= form.password_field :password %>
  <%= form.submit "Login" %>
<% end %>

<!-- Link to Create Account -->
<p>Don't have an account? <%= link_to "Create Account", new_user_path %></p>