<h1 align="center">Wutz</h1>
<!-- Initial Overlay Popup -->
<div id="initialPopup" style="display:block;">
  <h1>Wutz</h1>
  <h2>A Daily Trivia Game</h2>
  <% if session[:user_id] != nil %>
    <p>Hello <%= @user.username %>!</p>
  <% end %>
  <div class="button-wrapper">
    <button class="initialBtn", id="playBtn">Play</button><br>
    <% if session[:user_id] != nil %>
      <%= link_to 'Logout', logout_path, method: :delete %><br>
    <% else %>
      <button class="initialBtn", id="loginBtn">Login</button><br>
    <% end %>
    <button class="initialBtn", id="howToPlayBtn">How to Play</button>
    <br>
    <h3>
      Today's Date:
      <div id="date"></div>
    </h3>
  </div>
</div>
<!-- How to Play Overlay Popup -->
<div id="howToPlayPopup" style="display:none;">
  <span id="howToPlayCloseBtn" style="cursor:pointer;">X</span>
  <div style=text-align: left>
    <h2>How to Play</h2>
    <p>You will receive a new game board each day</p>
    <p>Feel free to create an account and login for more functionality and fun!</p>
    <p>Select any box to see the answer</p>
    <p>Harder questions are worth more points</p>
    <p>Type your answer in the form of a question and click or tap on Submit Response</p>
    <p>If you aren't sure, feel free to click or tap Skip Question to come back to the question later</p>
    <p>If you got the question wrong but feel you were close enough, click or tap I Was Close Enough</p>
    <p>Don't lie though - you'll only be cheating yourself!</p>
    <p>Once you've completed the game, click Complete Game to see your final score</p>
    <p>If you logged in at the beginning you can click Save Game to save your score</p>
    <br>
    <p>Good Luck and Have Fun!</p>
    <button id="returnBtn">Return</button>
  </div>
</div>
<!-- Game Board Popup -->
<div class="game-grid">
  <table class="table-container">
    <thead>
      <tr>
        <% @facade.categories.each do |category| %>
          <th class="header">
            <%= category.emoji %><br>
            <%= category.name.titleize %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facade.questions.each_with_index do |question_row, row_index| %>
        <tr>
          <% question_row.each_with_index do |question, col_index| %>
            <td
              class="game-cell"
              id="cell_<%= row_index %>_<%= col_index %>"
              data-question="<%= question.question %>"
              data-answer="<%= question.answer %>"
            >
              <%= question.points %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>
<div id="totalScore" align="center">Total Score: <span id="scoreValue">0</span></div>
<br>
<button id="resultsBtn">Complete Game</button>
<br>
<button id="clearBoardBtn">Clear Game Board</button>
<!-- Question Overlay Popup -->
<div id="popup" style="display:none;">
  <span id="closeBtn" style="cursor:pointer;">X</span>
  <h2>Question</h2>
  <p id="question"></p>
  <form id="myForm">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="text" id="textInput" placeholder="Enter response...">
    <br>
    <button class="submit-response-button" role="button" type="submit">Submit Response</button><br>
  </form>
  <br>
  <br>
  <button id="skipBtn">Skip Question</button>
  <div id="instruction-text">
    <p>Skipping a question has no affect on your score</p>
  </div>
  <div id="result" style="display:none;"></div>
</div>
<!-- Answer Overlay/Popup -->
<div id="answerPopup" style="display:none;">
  <span id="answerCloseBtn" style="cursor:pointer;">X</span>
  <h2 id="answerPopupPoints">Question</h2>
  <p id="answerPopupQuestion"></p>
  <div>Your response: <span id="userResponse"></span></div>
  <div>Correct Response: <span id="correctResponse"></span></div>
  <br>
  <button id="overrideBtn" style="display:none;">I Was Close Enough</button>
  <br>
  <button id="returnToGameBtn">Return to Game Board</button>
